$color-primary: blue;
$color-secondary: lime;

.btn-primary {
    display: inline-block;
    background-color: $color-primary;
    padding: 6px 12px;
    color: $color-secondary;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
}